{% extends 'collaborateurs/base.html' %}

{% block stylepers %}
	<link rel="stylesheet" href="{{STATICFILES_DIRS}}/static/css/projet_style.css" />
{% endblock %}

{% block scriptpers %}
<script src="../../static/js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="../../static/js/projet.js"></script>
{% endblock %}



{% block content %}

<div class="titre_projet"> {{projet.numero_teamber}} : {{projet.nom|upper}} </div>

<div class="contenu_wrapper">

	{% include "././navigation.html" %}







	<div class="contenu_projet">

		<div class="content_wrapper" id="infos_gene">
			<h2>Les lots de l'appel d'offres N°{{AO.numero}}</h2>
				{% for lot in lots_AO %}
					<li>AO du lot : {{lot.decris_toi|upper}}</li>
					<li> <a href="{% url 'gerer_ao_lot' projet.pk AO.pk lot.pk %}">Gérer l'appel d'offres du lot</a></li>
				{% empty %}
					<li>Aucun lot n'a été associé à ce jour !</li>
				{% endfor %}

				<p>La date de fin de l'appel d'offres est le : {{AO.echeance.date}}</p>

				<a href="{% url 'modifier_ao' projet.pk AO.pk %}">Modifier la liste des lots concernés</a>
		</div>

	</div>

</div>

{% endblock %}


