{% extends 'collaborateurs/base.html' %}

{% block stylepers %}
	<link rel="stylesheet" href="{{STATICFILES_DIRS}}/static/css/collaborateurs/projet_style.css" />
{% endblock %}

{% block scriptpers %}
<script src="../../static/js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="../../static/js/projet.js"></script>
{% endblock %}



{% block content %}

<div class="titre_projet"> {{projet.numero_teamber}} : {{projet.nom|upper}} </div>

<div class="contenu_wrapper">

	{% include "././navigation.html" %}







	<div class="contenu_projet">

		<div class="content_wrapper" id="infos_gene">
			<h2>Informations</h2>
				<li>Créé par: {{AO.createur.last_name|upper}} {{AO.createur.first_name|capfirst}}</li>
				<li>La date de fin de l'appel d'offres est prévue pour le : {{AO.echeance.date}}</li>
			<h2>Les lots de l'appel d'offres N°{{AO.numero}}</h2>
				{% for AO_lot in AO_lots %}
					<li>{{AO_lot.decris_lot}} créé le {{AO_lot.date_de_creation}}
						<ul>
							<li>Statut : 
								{% if AO_non_valide %}<span class="erreur_validation">{% endif %}
								{{AO_lot.statut}}
								{% if AO_non_valide %}</span>{% endif %}
							</li>
							<li> <a href="{% url 'col_gerer_ao_lot' projet.pk AO.pk AO_lot.lot.pk %}">Gérer l'appel d'offres du lot</a></li>
						</ul>

					</li>
					
				{% empty %}
					<li>Aucun lot n'a été associé à ce jour !</li>
				{% endfor %}

				

				<li><a href="{% url 'col_modifier_ao' projet.pk AO.pk %}">Modifier la liste des lots concernés</a></li>

				<li><a href="{% url 'col_publier_ao' projet.pk AO.pk %}">Publier l'appel d'offres sur tous les lots</a></li>
		</div>

	</div>

</div>

{% endblock %}


