<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset="utf-8"/>
  
   <link rel="stylesheet" href="{{STATICFILES_DIRS}}/static/css/collaborateurs/base_style.css" />
   <link rel="icon" href="{{BASE_DIR}}/media/images/favicon.png" />
   {% block stylepers %}
   {% endblock %}

   {% comment %} 
   		c'est ici que l'on appelle la source jquery 
   {% endcomment %}
   
   
   {% comment %} 
   		c'est ici que l'on écrit les scripts qui correspondent à la base 
   {% endcomment %}
 


   {% comment %}
   		c'est ici que l'on écrira les scripts qui correspondent au contenu dynamique
   {% endcomment %}
 
   {% block scriptpers %}
   {% endblock %}
   



   <title>{% block title %}Plateforme Appel d'offres{% endblock %}</title>
</head>



<body>
<header>
    <nav class="bandeau_sup" id="BS1">

       <ul class="list_nav_sup" id="LNS1">
            <li><a href="{% url 'col_contacts_liste' %}">Liste des contacts</a></li>
            <li><a href="">Mon compte ({{user}})</a></li>
            <li><a href='{% url "deconnexion" %}' id="bdeco">Déconnexion</a></li>
       </ul>

   </nav>

   <nav class="bandeau_sup" id="BS2">

       <ul class="list_nav_sup" id="LNS2">
       		<li><a href='{% url "col_accueil" %}'>Accueil</a></li>
            <li><a href='{% url "col_lister_projets" %}'>Tous les projets</a></li>
            <li><a href='{% url "col_lister_mes_projets" %}'>Mes projets</a></li>
            <li><a href='{% url "col_nouveau_projet" %}'>Nouveau projet</a></li>
       </ul>
 
   </nav>

 </header>



   <section id="content">
       {% block content %}
   

       {% endblock %}
   </section>


<footer></footer>


</body>
</html>