{% extends 'collaborateurs/base.html' %}

{% block stylepers %}
	<link rel="stylesheet" href="{{STATICFILES_DIRS}}/static/css/contact_style.css" />
	<link rel="stylesheet" href="{{STATICFILES_DIRS}}/static/css/navigation_contact_style.css" />
{% endblock %}

{% block scriptpers %}
<script src="../../static/js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="../../static/js/projet.js"></script>
{% endblock %}



{% block content %}

<div class="titre"> {{entreprise.nom_ent}} </div>

<div class="contenu_wrapper">

		




	<div class="left_nav">

		<div class="bouton" id="Baccueil"><a href='{% url "voir_entreprise" entreprise.pk entreprise.nom_ent %}'>Accueil {{entreprise.nom_ent}}</a></div>
		<div class="bouton" id="Bmodifier"><a href="{% url 'modifier_entreprise' entreprise.pk entreprise.nom_ent %}">Modifier l'entreprise</a></div>
		<div class="bouton" id="BcreerAgence"><a href="{% url 'ajouter_agence' entreprise.pk entreprise.nom_ent %}">Ajouter une Agence</a></div>
		<div class="bouton" id="BcreerPersonne"><a href="{% url 'ajouter_personne' entreprise.pk entreprise.nom_ent %}">Ajouter un Employé</a></div>

		<div class="list_wrapper" id="lots_wrapper">




		</div>

	</div>







	<div class="contenu_contact">

		<div class="content_wrapper" id="infos_ent">
			<h2>Informations générales</h2>
			<ul class="liste_prop">
				<li>
					{% if entreprise.logo_ent %}
					<img src="{{entreprise.logo_ent.url}}" alt="Il n'y a pas de photo actuellement" width="150" height="100"/>
					{% else %}
					<img src="{{BASE_DIR}}/media/images/logo.jpg" alt="Il n'y a pas de photo actuellement" width="150" height="100"/>
					{% endif %}
				</li>
				<li><h3>Nom de l'entreprise :</h></li>
				<li><span class="prop">{{entreprise.nom_ent}}</span></li>
				
				<li><h3>Numéro SIREN :</h3></li>
				<li><span class="prop">{{entreprise.num_SIREN}}</span></li>
			</ul>

		</div>


		<div class="content_wrapper" id="infos_agences">
			<h2>Liste des agences</h2>
			<ul class="liste_prop">
				{% for agence in agences %}
					<li><a href="{% url 'voir_agence' agence.pk agence.nom %}">{{agence.categorie}} : {{agence.nom}} - {{agence.adresse.code_postal}} {{agence.adresse.ville}}</a></li>
				{% empty %}
					<li>Aucune agence n'a été enregistrée a ce jour dans cette entreprise !</li>
				{% endfor %}
			</ul>

		</div>

		

		<div class="content_wrapper" id="infos_personnes">
			<h2>Liste des employés</h2>
			<ul class="liste_prop">
				{% for personne in personnes %}
					<li><a href="{% url 'voir_personne' personne.pk personne.nom personne.prenom %}">{{personne.nom}} {{personne.prenom}} - {{personne.agence.nom}}</a></li>
				{% empty %}
					<li>Aucune personne n'a été enregistrée a ce jour dans cette entreprise !</li>
				{% endfor %}
			</ul>

		</div>



	</div>

</div>

{% endblock %}


