{% extends 'collaborateurs/base.html' %}

{% block stylepers %}
	<link rel="stylesheet" href="{{STATICFILES_DIRS}}/static/css/projet_style.css" />
{% endblock %}

{% block scriptpers %}
<script src="../../static/js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="../../static/js/projet.js"></script>
{% endblock %}



{% block content %}

<div class="titre_projet"> {{projet.numero_teamber}} : {{projet.nom|upper}} </div>

<div class="contenu_wrapper">

	{% include "././navigation.html" %}







	<div class="contenu_projet">

		<div class="content_wrapper" id="infos_gene">
			<h2>Informations générales</h2>
			<a href="{% url 'modifier_lot' projet.pk lot.pk %}">Modifier le lot</a>
			<ul class="liste_prop">
				<li>Numéro du lot :</li>
				<li><strong>{{lot.numero}}</strong></li>
				<li>Nom du lot :</li>
				<li><strong>{{lot.nom}}</strong></li>
				<li>Abréviation du lot :</li>
				<li><strong>{{lot.short_name}}</strong></li>
			</ul>

			<h2>Activités connexes</h2>
			<ul class="liste_prop">
				{% for activite in lot.activites.all %}
				<li>{{activite.competence}}</li>
				<li>{% empty %}Aucunne activité relative n'a été choisie pour le lot !{% endfor %}</li>
			</ul>

			<h2>Fichiers associés</h2>
			<a href="{% url 'modifier_fichiers_lot' projet.pk lot.pk %}">Modifier les fichiers</a>
			<ul class="liste_prop">

				{% for doc in lot.documents.all %}
				<li>{{doc.categorie}} : <a href="{% url 'voir_fichier' projet.pk lot.pk doc.pk doc.nom %}" target="_blank">{{doc.nom}} - {{doc.taille}}</a></li>
				<li>{% empty %}Aucun fichier n'a été associé pour le lot !{% endfor %}</li>
			</ul>

			<h2>Les appels d'offres associés</h2>
			<ul class="liste_prop">
				{% for appel_lot in appels_lot %}
				<li>Appel offre : <a href="{% url 'voir_ao_lot' projet.pk appel_lot.AO.pk lot.pk appel_lot.pk %}">{{appel_lot.AO.numero}}</a></li>
				<li>{% empty %}Aucun appel d'offres pour le lot !{% endfor %}</li>
			</ul>

		</div>
	</div>

</div>

{% endblock %}


