{% extends 'collaborateurs/base.html' %}

{% block stylepers %}
	<link rel="stylesheet" href="{{STATICFILES_DIRS}}/static/css/nouveau_lot_style.css" />
{% endblock %}

{% block scriptpers %}
<script src="{{STATICFILES_DIRS}}/static/js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="{{STATICFILES_DIRS}}/static/js/nouveau_lot.js"></script>
{% endblock %}



{% block content %}

<div class="titre_projet"> {{projet.numero_teamber}} : {{projet.nom|upper}} </div>

<div class="contenu_wrapper">

	{% include "././navigation.html" %}





	<form enctype="multipart/form-data" method="post" action='{% url "modifier_lot" projet.pk lot.pk %}'>
		{% csrf_token %}

		<div class="contenu_projet">
			
			<div class="content_wrapper" id="infos_lot">
				<h2>Désignation du Lot</h2>

					
				<ul class="liste_prop">
					<li class="titre_form">Numéro du Lot :</li>
					<li>{{formLot.numero}} {{formLot.suffixe}}</li>

					<li class="titre_form">Nom du Lot :</li>
					<li>{{formLot.nom}}</li>

					<li class="titre_form">Abréviation :</li>
					<li>{{formLot.short_name}}</li>

					<li class="titre_form">Activités relatives au lot :</li>
					<li>{{formLot.activites}}</li>

					<li class="titre_form">Description :</li>
					<li>{{formLot.description}}</li>
				</ul>

			</div>



			<input type="submit" value="Modifier le lot" id="Beditlot"/>
			
		</div>
	</form>

</div>

{% endblock %}


