{% extends 'collaborateurs/base.html' %}

{% block stylepers %}
	<link rel="stylesheet" href="{{STATICFILES_DIRS}}/static/css/collaborateurs/nouveau_ao_style.css" />
{% endblock %}

{% block scriptpers %}
<script src="../../static/js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="../../static/js/projet.js"></script>
{% endblock %}



{% block content %}

<div class="titre_projet"> {{projet.numero_teamber}} : {{projet.nom|upper}} </div>

<div class="contenu_wrapper">

	{% include "././navigation.html" %}







	<div class="contenu_projet">


			
		<form enctype="multipart/form-data" method="post"  action="{% url 'col_modifier_ao' projet.pk AO.pk %}">

			{% csrf_token %}
			<div id="wrap-form">
				<div class="set-wrapper">
					<h1> Modification de l'appel d'offres</h1>

					{{formEcheance.as_p}}
					<h2> Veuillez sélectionner les lots concernés par l'appel d'offres</h2>
					{{ formAO.as_p}}


				</div>


			</div>

			<input type="submit" value="Modifier l'appel d'offres" id="BcreateAO" />



		</form>


	</div>

</div>

{% endblock %}


