
	<div class="left_nav_projet">

		<div class="bouton" id="Baccueil"><a href='{% url "voir_projet" projet.pk %}'>Accueil projet</a></div>
		<div class="bouton" id="Bmodifier"><a href='{% url "modifier_projet" projet.pk %}'>Modifier le projet</a></div>

		<div class="list_wrapper" id="ao_wrapper">

			<a href=""><h1>Appels d'offres :</h1></a>

			<ol class="liste" id="liste_ao">
				<li><a href="">ao 1</a></li>
				<li><a href="">ao 2</a></li>
			</ol>

			<div class="bouton" id="Bnouveauao"><a href="">Nouvel Appel d'Offres</a></div>

		</div>

		<div class="list_wrapper" id="lots_wrapper">

			<a href='{% url "lister_lot" projet.pk %}'><h1>Lots :</h1></a>

			<ul class="liste" id="liste_lots">
				{% for lot in lots %}
					<li><a href='{% url "voir_lot" projet.pk lot.pk %}'>{{lot}}</a></li>
				{% empty %}
					<li>Aucun lot !</li>
				{% endfor %}
			</ul>

			<div class="bouton" id="Bnouveaulot"><a href='{% url "nouveau_lot" projet.pk %}'>Nouveau Lot</a></div>


		</div>

	</div>



