{% extends 'collaborateurs/base.html' %}

{% block stylepers %}
	<link rel="stylesheet" href="{{STATICFILES_DIRS}}/static/css/tous_les_projets_style.css" />
{% endblock %}

{% block scriptpers %}
<script src="../../static/js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="../../static/js/tous_les_projets.js"></script>
{% endblock %}



{% block content %}
	<form method="post" action="{% url 'projets_liste' %}" >
		{% csrf_token %}
		{{form}}
	<input type="submit" value="Filtrer" id="Bfiltrer" />
	</form>





	<div id="filtres_wrapper">
		<div class="filtres" id="photo_projet">Photo</div>
		<div class="filtres" id="num_projet">N° projet</div>
		<div class="filtres" id="nom_projet">Nom projet</div>
		<div class="filtres" id="loc_projet">Localisation</div>
		<div class="filtres" id="date_projet">Date retour AO</div>
		<div class="filtres" id="avancement_projet">Avancement</div>
	</div>



	{% for projet in projets %}
	<div class="line_wrapper">
		<div class="projet_prop"><a href="{% url 'voir_projet' projet.pk %}" ><img src="{{BASE_DIR}}/{{projet.photo.url}}" alt="Il n'y a pas de photo actuellement" width="150" height="100" /></a></div>
		<div class="projet_prop"><a href="{% url 'voir_projet' projet.pk %}" >{{projet.numero_teamber}}</a></div>
		<div class="projet_prop"><a href="{% url 'voir_projet' projet.pk %}" >{{projet.nom}}</a></div>
		<div class="projet_prop"><a href="{% url 'voir_projet' projet.pk %}" ><ul><li>{{projet.adresse.adresse1}}</li><li>{{projet.adresse.adresse2}}</li><li>{{projet.adresse.code_postal}}</li><li>{{projet.adresse.ville|upper}}</li></ul></a></div> 
		<div class="projet_prop">projet.date retour AO</div>
		<div class="projet_prop">projet.avancement</div>
	</div>
	{% empty %}
		<p>Il n'y a pas de projets actuellement ! </p>
	{% endfor %}


	{# Mise en forme de la pagination ici #}
	{% if is_paginated %}
	    <div class="pagination">
	           {% if page_obj.has_previous %}
	               <a href="?page={{ page_obj.previous_page_number }}">Précédente</a> —
	           {% endif %}
	           Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }} 
	           {% if page_obj.has_next %}
	              — <a href="?page={{ page_obj.next_page_number }}">Suivante</a>
	           {% endif %}
	    </div>
	{% endif %}



{% endblock %}


