#content {
	padding-left:0px;
	padding-right:0px;
	padding-top: 0px;
}


#content form {
	margin-bottom: 50px;
	font-size: 25px;
	display: flex;
	justify-content: center;
}


#content form label {
	margin-left: 20px;
	margin-right: 10px;
}


#content a {
	text-decoration: none;
	color:white;
}


.contact_nav {
	display:flex;
	border-bottom: solid white 2px;

	font-size: 22px;
	width:100%;
	height:35px;
	justify-content: center;
	background-color: #3e6a87;

}


@media all and (min-height:300px) {
	.contact_nav {
		position:sticky;
		top:76px;
	}
}


.contact_nav_choice {
	display:flex;
	box-sizing: border-box;
	border-right:solid white 1px;
	min-width: 180px;
	height: 100%;
	justify-content: center;
	align-items: center;
	border-collapse: collapse;
}



.contact_nav_choice:hover {
	cursor:pointer;
	background-color: #ff6624;
}

#CNC_tous {
	border-left:solid white 1px;
}





.filtres {
	display: flex;
	height:150px;
	width:100%;
	border-bottom:solid red 2px;
}

#Bfiltrer {
	margin-left: 25px;
}





.list_wrapper {
	display:flex;
	flex-direction: column;
	padding: 25px;
}





.line_wrapper {
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	border: solid white 2px;
	margin-bottom:20px;
	background-color: #3e6a87;
	border-radius:15px;
	box-sizing: border-box;
	overflow: hidden;

}

.contact_titre {
	display: flex;
	padding:5px 15px 5px 15px;
	width:100%;
	background-color: #ff6624;
	font-weight: bold;
	border-bottom: solid white 1px;
}


.contact_prop {


	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0px 0px 0px 0px;
}

.contact_prop a {
	display: flex;
	overflow: auto;
	max-height: 100%;
	width:100%;
	justify-content: flex-start;
	align-items: flex-start;

}

.contact_prop a::-webkit-scrollbar {
	display: none;
}



.contact_prop img {
	box-sizing: border-box;
	border-right:solid white 2px;
}

.contact_prop ul {
	display: flex;
	flex-direction: row;
	margin:0px;
	padding:0px;
}

.contact_prop li {
	display: flex;
	list-style-type: none;
	word-break: break-all;
	height: 100%;
	
}


