#content {
	display:flex;
	flex-direction: column;

	padding:0;
	flex-grow: 1;
}




.contenu_projet {
	width:80%;
	
	/*padding:25px;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;

}



.contenu_projet h2 {
	color:#ff6624;
	font-size: 22px;
	display: flex;
	justify-content: space-between;
	align-items:center;
}

.content_wrapper {
	/*margin-left:25px;*/
	/*border:solid white;*/
	box-sizing: border-box;
	width: 49%;
	height: auto;
	padding-left: 25px;
	padding-right: 50px;
	

}

.content_wrapper a {
	color:white;
}

.content_wrapper ul {
	list-style-type: none;
}

.content_wrapper img {
	box-sizing: border-box;
	border: solid white 2px;
	height:100px;
	width: 150px;
}

.content_wrapper strong {
	display: inline-block;
	padding-left: 25px;
}


.liste_prop a {
	color:white;
}
/*
.boutonMod {
	display: inline-flex;
	align-self: flex-end;
	color:white;
	border:solid white 2px;
	border-radius: 10px;
	justify-content: center;
	background-color: #3e6a87;
	padding:2px 5px 2px 5px;
	font-weight: bold;
	margin-left: 25px;
	font-size: 15px;
}

.boutonMod:hover {
	background-color:#e00025;
}

.boutonMod a {
	color: white;
	text-decoration: none;
}
*/


