#content {
	padding-left:25px;
	padding-right:25px;
	padding-top: 50px;
}


#content a {
	text-decoration: none;
	color:white;
}



.top_nav {
	display:flex;
	height: 85px;
	
}

.top_left_nav {
	width:25%;
	display:flex;
	flex-direction: column; 
	justify-content: space-between;
}

.top_left_nav a {
	border:solid white 2px;
	background-color: #3e6a87;
	font-size: 25px;
	height:35px;
	box-sizing: border-box;
	border-radius:15px;
	text-align:center;
}

.top_left_nav a:hover {
 cursor:pointer;
 background-color: #ff6624;

}

.top_right_nav {
	width:75%;
	display:flex;
	flex-direction: column;
	justify-content: center;
}



form {
	font-size: 25px;
	display: flex;
	flex-direction: column;
	align-items: space-between;
	justify-content: space-between;
	max-width: 100%;
	height: 100%;
	margin-left:50px;
	margin-right:25px;
}

form li {
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	margin-left: 0px;


}



form label {
	margin-left: 20px;
	margin-right: 10px;
}

form input,select {
	font-size:25px;
	height: 35px;
	box-sizing: border-box;
}





#Bfiltrer {
	margin-left:25px;
}






.list_wrapper {
	display:flex;
	flex-direction: column;
	padding: 25px;
}





.line_wrapper {
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	border: solid white 2px;
	margin-bottom:20px;
	background-color: #3e6a87;
	border-radius:15px;
	box-sizing: border-box;
	overflow: hidden;

}

.contact_titre {
	display: flex;
	padding:0px;
	max-width:100%;
	background-color: #ff6624;

	border-bottom: solid white 1px;
	justify-content: space-between;
}



.antecedent {
	color:black;
	margin-right:0px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	border-left:solid white 2px;
	padding:5px 35px 5px 35px;
	width:auto;
	overflow: hidden;
	font-weight: bold;

}

.nom_contact {
	font-size:20px;
	font-weight: bold;
	margin-left:0px;
	flex-grow: 1;
	display: flex;



}

.nom_contact a {
	flex-grow: 1;
	padding: 5px 0px 5px 35px;
}



.contact_prop {


	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0px 0px 0px 0px;
}

.contact_prop a {
	display: flex;
	overflow: auto;
	height: 100px;
	width:150px;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	border-right:solid white 2px;

}

.contact_prop a::-webkit-scrollbar {
	display: none;
}



.contact_prop img {
	
}

.contact_prop ul {
	display: flex;
	flex-direction: row;
	margin:0px;
	padding:0px;
	padding-left:25px;
}

.contact_prop li {
	display: flex;
	list-style-type: none;
	word-break: break-all;
	height: 100%;
	
}






