<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset="utf-8"/>
  
   <link rel="stylesheet" href="../css/chiffrage_style.css" />
   <script src="../css/jquery-3.3.1.js" ></script>
   <script src="../css/chiffrage_script.js" ></script>


   <title>Plateforme Appel d'offres</title>
</head>

 

<body>

	<header>
		
			<div class="navigation_principale">
				<a href="liste_projets.html">Mes projets</a>
				<a href="calendrier.html">Agenda</a>
			</div>

			<div class="navigation_secondaire">
				<a href="">Mon compte</a>
				<a href="">Aide/support</a>
				<a href="../../index.html">Déconnexion</a>

			</div>
	</header>



  	<section>
			<div class="titre_projet">
				2015-2210 : TITRE DU PROJET
			</div>

			<div class="contenu">

				<div class="left_nav">
					<a href="projet.html">Lots</a>
					<a href="photos.html">Photos</a>
					<a href="details_projet.html">Détails généraux</a>
					<a href="chiffrage.html">Chiffrage</a>
				</div>


				<div class="projet">
					
					<div class="liste_lot">

						<div class="boutons">
							<input type="button" id="CCTP_new_onglet" value="CCTP sur nouvel onglet"/>
							<input type="button" id="CCTP_inside" value="CCTP en bas"/>
						</div>

						<div class="grid_lot">
							
							<div class="ligne" id="ligne_titre">
								<div class="titre" id="num">Numéro poste</div>
								<div class="titre" id="des">Désignation</div>
								<div class="titre" id="unite">Unité</div>
								<div class="titre" id="quantite">Quantité</div>
								<div class="titre" id="PU"">Prix Unitaire (€ HT)</div>
								<div class="titre" id="montant_HT">Montant HT (€ HT)</div>
								
							</div>

							<div class="ligne">
								<div class="poste_num" >
									<div class="num">1</div>
									<div class="dev">-</div>
								</div>
								<div class="poste_des" >VENTILATION</div>
								<div class="poste_unite" ></div>
								<div class="poste_quantite" ></div>
								<div class="poste_PU" ></div>
								<div class="poste_montant_HT" ></div>
								
							</div>

						

							<div class="ligne">
								<div class="poste_num" >
									<div class="num">1.1</div>
									<div class="dev">-</div>
								</div>
								<div class="poste_des" >DONNES GENERALES</div>
								<div class="poste_unite" ></div>
								<div class="poste_quantite" ></div>
								<div class="poste_PU" ></div>
								<div class="poste_montant_HT" ></div>
								
							</div>

					

							<div class="ligne">
								<div class="poste_num" >
									<div class="num">1.2</div>
									<div class="dev">-</div>
								</div>
								<div class="poste_des" >DESCRIPTION DES OUVRAGES</div>
								<div class="poste_unite" ></div>
								<div class="poste_quantite" ></div>
								<div class="poste_PU" ></div>
								<div class="poste_montant_HT" ></div>
								
							</div>

						

							<div class="ligne">
								<div class="poste_num" >
									<div class="num">1.2.1</div>
									<div class="dev">-</div>
								</div>
								<div class="poste_des" >VMC HYGRO B</div>
								<div class="poste_unite" ></div>
								<div class="poste_quantite" ></div>
								<div class="poste_PU" ></div>
								<div class="poste_montant_HT" ></div>
								
							</div>

							

							<div class="ligne">
								<div class="poste_num" >
									<div class="num">1.2.1.1</div>
									<div class="dev">-</div>
								</div>
								<div class="poste_des" >TRAVAUX DE DEPOSE</div>
								<div class="poste_unite" ></div>
								<div class="poste_quantite" ></div>
								<div class="poste_PU" ></div>
								<div class="poste_montant_HT" ></div>
								
							</div>

							

							<div class="ligne">
								<div class="poste_num" >
									<div class="num">1.2.1.1.1</div>
									<div class="dev">-</div>
								</div>
								<div class="poste_des" >Visite sur site</div>
								<div class="poste_unite" ></div>
								<div class="poste_quantite" >PM</div>
								<div class="poste_PU" ></div>
								<div class="poste_montant_HT" ></div>
								
							</div>

							

							<div class="ligne">
								<div class="poste_num" >
									<div class="num">1.2.1.1.2</div>
									<div class="dev">-</div>
								</div>
								<div class="poste_des" >Dépose installation existante</div>
								<div class="poste_unite" >ens</div>
								<div class="poste_quantite" >1,000</div>
								<div class="poste_PU" ><input type="number"/></div>
								<div class="poste_montant_HT" ></div>
								
							</div>

							

							<div class="ligne_ST">
								<div class="titre_ST">Sous-Total HT de TRAVAUX DE DEPOSE</div>
								<div class="poste_montant_HT" ></div>
							</div>

							<div class="ligne">
								<div class="poste_num" >
									<div class="num">1.2.1.2</div>
									<div class="dev">-</div>
								</div>
								<div class="poste_des" >TRAVAUX PREPARATOIRES</div>
								<div class="poste_unite" ></div>
								<div class="poste_quantite" ></div>
								<div class="poste_PU" ></div>
								<div class="poste_montant_HT" ></div>
								
							</div>

							

							<div class="ligne">
								<div class="poste_num" >
									<div class="num">1.2.1.2.1</div>
									<div class="dev">-</div>
								</div>
								<div class="poste_des" >Contrôle de la vacuité des conduits et de leur intégrité</div>
								<div class="poste_unite" >u</div>
								<div class="poste_quantite" >5</div>
								<div class="poste_PU" ><input type="number"/></div>
								<div class="poste_montant_HT" ></div>
								
							</div>

							

							<div class="ligne">
								<div class="poste_num" >
									<div class="num">1.2.1.2.2</div>
									<div class="dev">-</div>
								</div>
								<div class="poste_des" >Ramonage des conduits</div>
								<div class="poste_unite" >u</div>
								<div class="poste_quantite" >5</div>
								<div class="poste_PU" ><input type="number"/></div>
								<div class="poste_montant_HT" ></div>
								
							</div>

							

							<div class="ligne">
								<div class="poste_num" >
									<div class="num">1.2.1.2.3</div>
									<div class="dev">-</div>
								</div>
								<div class="poste_des" >essais d'étanchéité</div>
								<div class="poste_unite" >ens</div>
								<div class="poste_quantite" >1,000</div>
								<div class="poste_PU" ><input type="number"/></div>
								<div class="poste_montant_HT" ></div>
								
							</div>

							
							
							<div class="ligne_ST">
								<div class="titre_ST">Sous-Total HT de TRAVAUX PREPARATOIRES</div>
								<div class="poste_montant_HT" ></div>
							</div>

	
						</div>

					</div>

					<div id="inside_CCTP">



						<div class="CCTP_supp">
							<input type="button"  id="Bplus" value="Agrandir">
							<input type="button" id="Bmoins" value="Réduire">
							<input type="button" id="Bfermer" value="Fermer">
						</div>
						<object type="application/pdf" data="../media/test.pdf">
							alt : <a href="../media/test.pdf">CCTP</a>
						</object>
					</div>

				</div>

			

			</div>
   	</section>


	<footer>
	
	</footer>


</body>
</html>


