<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset="utf-8"/>
  
   <link rel="stylesheet" href="../css/details_projet_style.css" />
   <script src="../css/jquery-3.3.1.js" ></script>
   <script src="../css/details_projet_script.js" ></script>

  


   <title>Plateforme Appel d'offres</title>
</head>



<body>

	<header>
		
			<div class="navigation_principale">
				<a href="liste_projets.html">Mes projets</a>
				<a href="calendrier.html">Agenda</a>
			</div>

			<div class="navigation_secondaire">
				<a href="">Mon compte</a>
				<a href="">Aide/support</a>
				<a href="../../index.html">Déconnexion</a>

			</div>
	</header>



  	<section>
			<div class="titre_projet">
				2015-2210 : TITRE DU PROJET
			</div>

			<div class="contenu">

				<div class="left_nav">
					<a href="projet.html">Lots</a>
					<a href="details_projet.html">Détails généraux</a>
					<a href="chiffrage.html">Chiffrage (entreprise)</a>
				</div>


				<div class="projet">

					<div class="affichage">
						<input type="button" id="b1" value="Affichage 1" />
						<input type="button" id="b2" value="Affichage 2" />
					</div>

					<div class="projet_container_1">
						
						<div class="logo">
							<img src="../media/bat 4.jpg" alt="Pas de photo" style="height: 300px" id="logo_projet"/>
						</div>

						

						<div class="infos">
							<div class="set_id_projet">
								<div class="titre_liste">Groupement de maitrise d'oeuvre</div>
									<div class="sous_liste" style="color:red">Bureau d'études : Audrey DUPUY (PLENETUDE ANNECY)</div>
									<div class="sous_liste">Bureau d'études fluides et thermiques : Kevin MATHIEU (PEGIME ANNECY) </div>
									<div class="sous_liste">Bureau d'études structure : Clément BORDET (PEXIN)</div>
									<div class="sous_liste">Architecte : xxxxx XXXX (CABINET XXX)</div>
									<div class="sous_liste">CONTACT/CATEGORIE : Prénom NOM (ENTREPRISE)</div>
								
								<div class="titre_liste">Client(s)</div>
									<div class="sous_liste">Type de travaux : Neuf/Rénovation</div>
									<div class="sous_liste">Type de bâtiment : Bureau/Industriel/Culturel/Commercial/Equipement/Logement</div>
									<div class="sous_liste">Type de client : Privé/Public</div>
									<div class="sous_liste">Client X N°1</div>
									<div class="sous_liste">Client X N°2</div>


								<div class="titre_liste">Localisation</div>
									<div class="sous_liste">Bâtiment A</div>
									<div class="sous_liste">63 avenue Roger Salengro</div>
									<div class="sous_liste">69100 - VILLEURBANNE</div>
									<div class="sous_liste">FRANCE</div>
									<div class="sous_liste"><a href="https://www.google.fr/maps/place/63+roger+salengro,+69100+villeurbanne" target="_blank">Ouvrir map sur nouvel onglet</a></div>
							</div>

						
							
						</div>

						

						
						

					</div>


					<div class="projet_container_2">
						
						<div class="logo">
							<img src="../media/bat 4.jpg" alt="Pas de photo" style="height: 300px" id="logo_projet"/>
						</div>

						

						<div class="infos">
							<div class="set_id_projet">
								<div class="titre_liste">Groupement de maitrise d'oeuvre</div>
									<div class="sous_liste" style="color:red">Bureau d'études : Audrey DUPUY (PLENETUDE ANNECY)</div>
									<div class="sous_liste">Bureau d'études fluides et thermiques : Kevin MATHIEU (PEGIME ANNECY) </div>
									<div class="sous_liste">Bureau d'études structure : Clément BORDET (PEXIN)</div>
									<div class="sous_liste">Architecte : xxxxx XXXX (CABINET XXX)</div>
									<div class="sous_liste">CONTACT/CATEGORIE : Prénom NOM (ENTREPRISE)</div>
								
								<div class="titre_liste">Client(s)</div>
									<div class="sous_liste">Type de travaux : Neuf/Rénovation</div>
									<div class="sous_liste">Type de bâtiment : Bureau/Industriel/Culturel/Commercial/Equipement/Logement</div>
									<div class="sous_liste">Type de client : Privé/Public</div>
									<div class="sous_liste">Client X N°1</div>
									<div class="sous_liste">Client X N°2</div>


								<div class="titre_liste">Localisation</div>
									<div class="sous_liste">Bâtiment A</div>
									<div class="sous_liste">63 avenue Roger Salengro</div>
									<div class="sous_liste">69100 - VILLEURBANNE</div>
									<div class="sous_liste">FRANCE</div>
									<div class="sous_liste"><a href="https://www.google.fr/maps/place/63+roger+salengro,+69100+villeurbanne" target="_blank">Ouvrir map sur nouvel onglet</a></div>
							</div>

						
							
						</div>

						

						
						

					</div>

				</div>



			</div>
   	</section>


	<footer>
	
	</footer>


</body>
</html>


