<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset="utf-8"/>
  
   <link rel="stylesheet" href="../css/liste_contacts_style.css" />
   <script src="../css/jquery-3.3.1.js" ></script>
   <script src="../css/liste_contacts_script.js" ></script>


   <title>Plateforme Appel d'offres</title>
</head>



<body>

	<header>
		
			<div class="navigation_principale">
				<a href="liste_projets.html">Mes projets</a>

				<a href="calendrier.html">Agenda</a>

			</div>

			<div class="navigation_secondaire">
				<a href="">Mon compte</a>
				<a href="">Aide/support</a>
				<a href="../../index.html">Déconnexion</a>

			</div>
	</header>

 

  	<section>
			<div class="recherche">
				<select >
					<option>Trier</option>
				</select>

				<select >
					<option>Filtrer</option>
				</select>

				<input type="text"/>

				<input type="submit" value="Ok"/>
			</div>


			<div class="filtrage">
				<div class="filtre" id="Fagences">Agences</div>
				<div class="filtre" id="Fpersonnes">Personnes</div>
			</div>




			<div class="liste_container" id="liste_container_agences">
				<div class="liste" id="liste_agences">

					<div class="agence">
						<div class="p_top">
							<div class="nom"><a href="agence.html">PLENETUDE LYON</a></div>
						</div>

						<div class="p_center">
							<div class="img_container">
								<img src="../media/logo_plenetude.jpg" alt="Pas de photo" />
							</div>
							<span class="localisation">69 100 VILLEURBANNE</span>
						</div>

						<div class="p_bot">
							<div class="bouton">+</div>
						</div>

						<div class="p_detail">
							<div class="ags_prop">Mail :&nbsp<a href="mailto:plenetude@plenetude.fr">info.lyon@plenetude.fr</a></div>
							<div class="ags_prop">Standard : 04 37 43 36 36</div>
							<div class="ags_prop">Fax : 04 37 43 36 37</div>
						</div>


					</div>


					<div class="agence">
						<div class="p_top">
							<div class="nom"><a href="">PLENETUDE ANNECY</a></div>
						</div>

						<div class="p_center">
							<div class="img_container">
								<img src="../media/logo_plenetude.jpg" alt="Pas de photo" />
							</div>
							<span class="localisation">74 370 METZ-TESSY</span>
						</div>

						<div class="p_bot">
							<div class="bouton">+</div>
						</div>

						<div class="p_detail">
							<div class="ags_prop">Mail :&nbsp<a href="mailto:plenetude@plenetude.fr">info.annecy@plenetude.fr</a></div>
							<div class="ags_prop">Standard : 04 50 32 16 39</div>
							<div class="ags_prop">Fax : 04 34 09 10 04</div>
						</div>


					</div>


					<div class="agence">
						<div class="p_top">
							<div class="nom"><a href="">PEXIN</a></div>
						</div>

						<div class="p_center">
							<div class="img_container">
								<img src="../media/logo_pexin.jpg" alt="Pas de photo" />
							</div>
							<span class="localisation">69 100 VILLEURBANNE</span>
						</div>

						<div class="p_bot">
							<div class="bouton">+</div>
						</div>

						<div class="p_detail">
							<div class="ags_prop">Mail :&nbsp<a href="mailto:pexin@pexin.fr">pexin@pexin.fr</a></div>
							<div class="ags_prop">Standard : 04 37 43 34 60</div>
							<div class="ags_prop">Fax : 08 90 20 60 90</div>
						</div>


					</div>

					<div class="agence">
						<div class="p_top">
							<div class="nom"><a href="">PEGIME LYON</a></div>
						</div>

						<div class="p_center">
							<div class="img_container">
								<img src="../media/logo_pegime.jpg" alt="Pas de photo" />
							</div>
							<span class="localisation">69 100 VILLEURBANNE</span>
						</div>

						<div class="p_bot">
							<div class="bouton">+</div>
						</div>

						<div class="p_detail">
							<div class="ags_prop">Mail :&nbsp<a href="mailto:pegime@pegime.fr">pegime@pegime.fr</a></div>
							<div class="ags_prop">Standard : 04 37 43 35 00</div>
							<div class="ags_prop">Fax : 08 11 48 28 12</div>
						</div>


					</div>

					<div class="agence">
						<div class="p_top">
							<div class="nom"><a href="">PEGIME ANNECY</a></div>
						</div>

						<div class="p_center">
							<div class="img_container">
								<img src="../media/logo_pegime.jpg" alt="Pas de photo" />
							</div>
							<span class="localisation">74 370 METZ-TESSY</span>
						</div>

						<div class="p_bot">
							<div class="bouton">+</div>
						</div>

						<div class="p_detail">
							<div class="ags_prop">Mail :&nbsp<a href="mailto:pegime@pegime.fr">pegime@pegime.fr</a></div>
							<div class="ags_prop">Standard : 04 50 01 86 14</div>
							<div class="ags_prop">Fax : 08 11 48 28 12</div>
						</div>


					</div>

				</div>


			</div>






			<div class="liste_container" id="liste_container_personnes">
				<div class="liste" id="liste_personnes">

					<div class="personne">
						<div class="p_top">
							<div class="p_left">
								<img src="../media/logo_groupe.png" alt="Pas de photo" />
							</div>
							<div class="p_center">
								<div class="nom">PENICAUD Laurent</div>
								<div class="fonction">Président</div>
							</div>
						</div>

						<div class="p_bot">
							<div class="bouton">+</div>
						</div>

						<div class="p_detail">
							<div class="pers_prop">Mail :&nbsp<a href="mailto:lilian.durey@batools.fr"> laurent.penicaud@groupe-plenetude.fr</a></div>
							<div class="pers_prop">LD : xx xx xx xx xx</div>
							<div class="pers_prop">Port : xx xx xx xx xx</div>
						</div>

					</div>

					<div class="personne">
						<div class="p_top">
							<div class="p_left">
								<img src="../media/logo_groupe.png" alt="Pas de photo" />
							</div>
							<div class="p_center">
								<div class="nom">GIRARDET Sylvain</div>
								<div class="fonction">Directeur général</div>
							</div>
						</div>

						<div class="p_bot">
							<div class="bouton">+</div>
						</div>

						<div class="p_detail">
							<div class="pers_prop">Mail :&nbsp<a href="mailto:lilian.durey@batools.fr">sylvain.girardet@groupe-plenetude.fr</a></div>
							<div class="pers_prop">LD : xx xx xx xx xx</div>
							<div class="pers_prop">Port : xx xx xx xx xx</div>
						</div>

					</div>

					<div class="personne">
						<div class="p_top">
							<div class="p_left">
								<img src="../media/logo_plenetude.jpg" alt="Pas de photo" />
							</div>
							<div class="p_center">
								<div class="nom">COURREGE Raphaël</div>
								<div class="fonction">Responsable BU</div>
							</div>
						</div>

						<div class="p_bot">
							<div class="bouton">+</div>
						</div>

						<div class="p_detail">
							<div class="pers_prop">Mail :&nbsp<a href="mailto:lilian.durey@batools.fr"> raphael.courrege@plenetude.fr</a></div>
							<div class="pers_prop">LD : xx xx xx xx xx</div>
							<div class="pers_prop">Port : xx xx xx xx xx</div>
						</div>

					</div>

					<div class="personne">
						<div class="p_top">
							<div class="p_left">
								<img src="../media/logo_pexin.jpg" alt="Pas de photo" />
							</div>
							<div class="p_center">
								<div class="nom">BARROUCHE Yanisse</div>
								<div class="fonction">Responsable BU</div>
							</div>
						</div>

						<div class="p_bot">
							<div class="bouton">+</div>
						</div>

						<div class="p_detail">
							<div class="pers_prop">Mail :&nbsp<a href="mailto:lilian.durey@batools.fr">yanisse.barrouche@pexin.fr</a></div>
							<div class="pers_prop">LD : xx xx xx xx xx</div>
							<div class="pers_prop">Port : xx xx xx xx xx</div>
						</div>

					</div>

					<div class="personne">
						<div class="p_top">
							<div class="p_left">
								<img src="../media/logo_pegime.jpg" alt="Pas de photo" />
							</div>
							<div class="p_center">
								<div class="nom">TALUT Ludovic</div>
								<div class="fonction">Responsable BU</div>
							</div>
						</div>

						<div class="p_bot">
							<div class="bouton">+</div>
						</div>

						<div class="p_detail">
							<div class="pers_prop">Mail :&nbsp<a href="mailto:lilian.durey@batools.fr"> ludovic.talut@pegime.fr</a></div>
							<div class="pers_prop">LD : xx xx xx xx xx</div>
							<div class="pers_prop">Port : xx xx xx xx xx</div>
						</div>

					</div>

					<div class="personne">
						<div class="p_top">
							<div class="p_left">
								<img src="../media/logo_plenetude.jpg" alt="Pas de photo" />
							</div>
							<div class="p_center">
								<div class="nom"><a href="personne.html">DUPUIS Audrey</a></div>
								<div class="fonction">Responsable pôle études</div>
							</div>
						</div>

						<div class="p_bot">
							<div class="bouton">+</div>
						</div>

						<div class="p_detail">
							<div class="pers_prop">Mail :&nbsp<a href="mailto:lilian.durey@batools.fr">audrey.dupuis@plenetude.fr</a></div>
							<div class="pers_prop">LD : xx xx xx xx xx</div>
							<div class="pers_prop">Port : xx xx xx xx xx</div>
						</div>

					</div>

					<div class="personne">
						<div class="p_top">
							<div class="p_left">
								<img src="../media/logo_plenetude.jpg" alt="Pas de photo" />
							</div>
							<div class="p_center">
								<div class="nom">CHARDON Guillaume</div>
								<div class="fonction">Responsable pôle études</div>
							</div>
						</div>

						<div class="p_bot">
							<div class="bouton">+</div>
						</div>

						<div class="p_detail">
							<div class="pers_prop">Mail :&nbsp<a href="mailto:lilian.durey@batools.fr">guillaume.chardon@plenetude.fr</a></div>
							<div class="pers_prop">LD : xx xx xx xx xx</div>
							<div class="pers_prop">Port : xx xx xx xx xx</div>
						</div>

					</div>

					<div class="personne">
						<div class="p_top">
							<div class="p_left">
								<img src="../media/logo_pegime.jpg" alt="Pas de photo" />
							</div>
							<div class="p_center">
								<div class="nom">MATHIEU Kevin</div>
								<div class="fonction">Chargé d'affaires</div>
							</div>
						</div>

						<div class="p_bot">
							<div class="bouton">+</div>
						</div>

						<div class="p_detail">
							<div class="pers_prop">Mail :&nbsp<a href="mailto:lilian.durey@batools.fr">kevin.mathieu@pegime.fr</a></div>
							<div class="pers_prop">LD : xx xx xx xx xx</div>
							<div class="pers_prop">Port : xx xx xx xx xx</div>
						</div>

					</div>

					<div class="personne">
						<div class="p_top">
							<div class="p_left">
								<img src="../media/logo_plenetude.jpg" alt="Pas de photo" />
							</div>
							<div class="p_center">
								<div class="nom">HATT Manon</div>
								<div class="fonction">Chargé d'affaires</div>
							</div>
						</div>

						<div class="p_bot">
							<div class="bouton">+</div>
						</div>

						<div class="p_detail">
							<div class="pers_prop">Mail :&nbsp<a href="mailto:lilian.durey@batools.fr">manon.hatt@plenetude.fr</a></div>
							<div class="pers_prop">LD : xx xx xx xx xx</div>
							<div class="pers_prop">Port : xx xx xx xx xx</div>
						</div>

					</div>

					<div class="personne">
						<div class="p_top">
							<div class="p_left">
								<img src="../media/logo_pexin.jpg" alt="Pas de photo" />
							</div>
							<div class="p_center">
								<div class="nom">RICARDO Mathieu</div>
								<div class="fonction">Chargé d'affaires</div>
							</div>
						</div>

						<div class="p_bot">
							<div class="bouton">+</div>
						</div>

						<div class="p_detail">
							<div class="pers_prop">Mail :&nbsp<a href="mailto:lilian.durey@batools.fr">mathieu.ricardo@pexin.fr</a></div>
							<div class="pers_prop">LD : xx xx xx xx xx</div>
							<div class="pers_prop">Port : xx xx xx xx xx</div>
						</div>

					</div>

				</div>


			</div>
   	</section>


	<footer>
	
	</footer>


</body>
</html>


