<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset="utf-8"/>
  
   <link rel="stylesheet" href="../css/photos_style.css" />
   <script src="../css/jquery-3.3.1.js" ></script>
   <script src="../css/photos_script.js" ></script>


   <title>Plateforme Appel d'offres</title>
</head>



<body>

	<header>
		
			<div class="navigation_principale">
				<a href="liste_projets.html">Mes projets</a>
				<a href="liste_projets.html">Tous les projets</a>
				<a href="calendrier.html">Agenda</a>
				<a href="liste_contacts.html">Contacts</a>
			</div>

			<div class="navigation_secondaire">
				<a href="">Mon compte</a>
				<a href="">Aide/support</a>
				<a href="../../index.html">Déconnexion</a>

			</div>
	</header>



  	<section>
			<div class="titre_projet">
				2015-2210 : TITRE DU PROJET
			</div>

			<div class="contenu">

				<div class="left_nav">
					<a href="projet.html">Lots</a>
					<a href="photos.html">Photos</a>
					<a href="details_projet.html">Détails généraux</a>
					<a href="details_tech_projet.html">Détails techniques</a>
					<a href="">Analyse</a>
				</div>



				<div class="wrapp_all_to_lock" id="all_photo_fullscreen">
					<div id="photo_fullscreen">
						<div id="Bprevious">
							<
						</div>
						<div id="photo_wrapper">
							<img id = "photo_player" src =""/>
						</div>
						<div id="Bnext">
							>
						</div>
						
					</div>
				</div>


				<div class="projet">
					<div class="liste_container">
						<div class="liste">

							<div class="photo">
								<img src="../media/bat 4.jpg"/>
							</div>

							<div class="photo">
								<img src="../media/bat 5.jpg"/>
							</div>

							<div class="photo">
								<img src="../media/bat3.jpg"/>
							</div>

							<div class="photo">
								<img src="../media/bat 4.jpg"/>
							</div>

							<div class="photo">
								<img src="../media/bat1.jpg"/>
							</div>

							<div class="photo">
								<img src="../media/bat 4.jpg"/>
							</div>

							<div class="photo">
								<img src="../media/bat2.jpg"/>
							</div>

							<div class="photo">
								<img src="../media/logo_pexin.jpg"/>
							</div>



						</div>


					</div>
					



				</div>



			</div>
   	</section>


	<footer>
	
	</footer>


</body>
</html>


