{% extends 'collaborateurs/base.html' %}

{% block stylepers %}
	<link rel="stylesheet" href="{{STATICFILES_DIRS}}/static/css/collaborateurs/modifier_fichiers_lot_style.css" />
{% endblock %}

{% block scriptpers %}
<script src="{{STATICFILES_DIRS}}/static/js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="{{STATICFILES_DIRS}}/static/js/modifier_fichiers_lot.js"></script>
{% endblock %}



{% block content %}

<div class="titre_projet"> {{projet.numero_teamber}} : {{projet.nom|upper}} </div>

<div class="contenu_wrapper">

	{% include "././navigation.html" %}





	<form enctype="multipart/form-data" method="post" action='{% url "col_modifier_fichiers_lot" projet.pk lot.pk %}'>
		{% csrf_token %}

		<div class="contenu_projet">
			

			<div class="content_wrapper" id="infos_docs">
				<h2>Documents associés</h2>

					
				<ul class="liste_prop">
					<div class="fich_wrapper" id="fannexe">
						<ol id="list_fannexe" ><p class="titre_form">Fichier(s) annexe(s) :</p>
							<li class="form_line" id="forml1">
								<span class="fich_line" id="fl1">
									<span class="fich_cat">{{formFichiers.c1}}</span>
									<span class="fich_file">{{formFichiers.f1}}</span>
								</span>
							</li>

							<li class="form_line" id="forml2">
								<div class="plus" id="p2">+</div>
								<span class="fich_line" id="fl2">
									<span class="fich_cat">{{formFichiers.c2}}</span>
									<span class="fich_file">{{formFichiers.f2}}</span>
								</span>
							</li>

							<li class="form_line" id="forml3">
								<div class="plus" id="p3">+</div>
								<span class="fich_line" id="fl3">
									<span class="fich_cat">{{formFichiers.c3}}</span>
									<span class="fich_file">{{formFichiers.f3}}</span>
								</span>
							</li>

							<li class="form_line" id="forml4">
								<div class="plus" id="p4">+</div>
								<span class="fich_line" id="fl4">
									<span class="fich_cat">{{formFichiers.c4}}</span>
									<span class="fich_file">{{formFichiers.f4}}</span>
								</span>
							</li>

							<li class="form_line" id="forml5">
								<div class="plus" id="p5">+</div>
								<span class="fich_line" id="fl5">
									<span class="fich_cat">{{formFichiers.c5}}</span>
									<span class="fich_file">{{formFichiers.f5}}</span>
								</span>
							</li>

							<li class="form_line" id="forml6">
								<div class="plus" id="p6">+</div>
								<span class="fich_line" id="fl6">
									<span class="fich_cat">{{formFichiers.c6}}</span>
									<span class="fich_file">{{formFichiers.f6}}</span>
								</span>
							</li>

							<li class="form_line" id="forml7">
								<div class="plus" id="p7">+</div>
								<span class="fich_line" id="fl7">
									<span class="fich_cat">{{formFichiers.c7}}</span>
									<span class="fich_file">{{formFichiers.f7}}</span>
								</span>
							</li>

							<li class="form_line" id="forml8">
								<div class="plus" id="p8">+</div>
								<span class="fich_line" id="fl8">
									<span class="fich_cat">{{formFichiers.c8}}</span>
									<span class="fich_file">{{formFichiers.f8}}</span>
								</span>
							</li>

							<li class="form_line" id="forml9">
								<div class="plus" id="p9">+</div>
								<span class="fich_line" id="fl9">
									<span class="fich_cat">{{formFichiers.c9}}</span>
									<span class="fich_file">{{formFichiers.f9}}</span>
								</span>
							</li>
						

						</ol>


					</div>


				</ul>

			</div>


			<input type="submit" value="Modifier les fichiers" id="Beditlot"/>
			
		</div>
	</form>

</div>

{% endblock %}


