<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset="utf-8"/>
  
   <link rel="stylesheet" href="../css/agence_style.css" />
   <script src="../css/jquery-3.3.1.js" ></script>
   <script src="../css/agence_script.js" ></script>


   <title>Plateforme Appel d'offres</title>
</head>



<body>

	<header> 
		
			<div class="navigation_principale">
				<a href="">Mes projets</a>
				<a href="liste_projets.html">Tous les projets</a>
				<a href="liste_contacts.html">Contacts</a>
			</div>

			<div class="navigation_secondaire">
				<a href="">Mon compte</a>
				<a href="">Aide/support</a>
				<a href="">Déconnexion</a>

			</div>
	</header>



  	<section>
			<div class="titre_agence">
				PLENETUDE LYON
			</div>

			<div class="contenu">

				
				<div class="agence">
					
					<div class="liste_age">

						<div class="age_wrapper" id="wrapper_infos">
							<div class="synt_age">
								<div class=titre_age>
									Informations générales
								</div>

								<div class="boutons">
									<div class="modifier">¥</div>
									<div class="plus">+</div>
								</div>
							</div>

							<div class="detail_age" id="detail_infos">
								<div class="row_wrap">
									<div class="p_left"><img src="../media/logo_plenetude.jpg"/></div>
									<div class="p_center">
										<div class="prop_age">
											<span>PLENETUDE ANNECY</span>
											<span>SIRET : XXX XXX XXX XXXXX</span>
											<span>Siège de&nbsp<a href="entreprise.html">GROUPE PLENETUDE</a></span>
										</div>

										<div class="prop_age" id="prop_comp">
											<span>Economiste de la construction</span>
											<span>Maitrise d'oeuvre</span>
										</div>
									</div>
									<div class="p_right">
										<div class="prop_age">
											<span>Mail :&nbsp<a href="mailto:info.lyon@plenetude.fr">info.annecy@plenetude.fr</a></span>
											<span>Standard : 04 37 43 36 36</span>
											<span>Fax : 04 37 43 36 37</span>
											<span>Immeubles Les Pléïades</span>
											<span>Park Nord, Route de la Bouvarde</span>
											<span>74 370 METZ-TESSY</span>
										</div>
									</div>
								</div>
								
							</div>
						</div>



						<div class="age_wrapper" id="wrapper_personnel">
							<div class="synt_age">
								<div class=titre_age>
									Personnel
								</div>

								<div class="boutons">
									<div class="modifier">¥</div>
									<div class="plus" id="plus_personnel">+</div>
								</div>
							</div>

							<div class="detail_age" id="detail_personnel">
								<div class="personnel_age">
									<div class="liste_container" id="liste_container_personnes_2">
										<div class="liste" id="liste_personnes_2">

											<div class="personne">
												<div class="p_top">
													<div class="p_left">
														<img src="../media/logo_plenetude.jpg" alt="Pas de photo" />
													</div>
													<div class="p_center">
														<div class="nom">COURREGE Raphaël</div>
													</div>
												</div>

												<div class="p_bot">
													<div class="bouton">+</div>
												</div>

												<div class="p_detail">
													<div class="pers_prop">Mail :&nbsp<a href="mailto:lilian.durey@batools.fr"> raphael.courrege@plenetude.fr</a></div>
													<div class="pers_prop">LD : xx xx xx xx xx</div>
													<div class="pers_prop">Port : xx xx xx xx xx</div>
												</div>

											</div>
										</div>
									</div>
								</div>


								<div class="personnel_age">
									<div class="liste_container" id="liste_container_personnes_3">
										<div class="liste" id="liste_personnes_3">

											<div class="personne">
												<div class="p_top">
													<div class="p_left">
														<img src="../media/logo_plenetude.jpg" alt="Pas de photo" />
													</div>
													<div class="p_center">
														<div class="nom"><a href="personne.html">DUPUIS Audrey</a></div>
													</div>
												</div>

												<div class="p_bot">
													<div class="bouton">+</div>
												</div>

												<div class="p_detail">
													<div class="pers_prop">Mail :&nbsp<a href="mailto:lilian.durey@batools.fr">audrey.dupuis@plenetude.fr</a></div>
													<div class="pers_prop">LD : xx xx xx xx xx</div>
													<div class="pers_prop">Port : xx xx xx xx xx</div>
												</div>

											</div>

										</div>
									</div>
								</div>


								<div class="personnel_age">
									<div class="liste_container" id="liste_container_personnes_4">
										<div class="liste" id="liste_personnes_4">

											<div class="personne">
												<div class="p_top">
													<div class="p_left">
														<img src="../media/logo_plenetude.jpg" alt="Pas de photo" />
													</div>
													<div class="p_center">
														<div class="nom">COSSE Benoit</div>
													</div>
												</div>

												<div class="p_bot">
													<div class="bouton">+</div>
												</div>

												<div class="p_detail">
													<div class="pers_prop">Mail :&nbsp<a href="mailto:lilian.durey@batools.fr">benoit.cosse@plenetude.fr</a></div>
													<div class="pers_prop">LD : xx xx xx xx xx</div>
													<div class="pers_prop">Port : xx xx xx xx xx</div>
												</div>

											</div>

											<div class="personne">
												<div class="p_top">
													<div class="p_left">
														<img src="../media/logo_plenetude.jpg" alt="Pas de photo" />
													</div>
													<div class="p_center">
														<div class="nom">HATT Manon</div>
													</div>
												</div>

												<div class="p_bot">
													<div class="bouton">+</div>
												</div>

												<div class="p_detail">
													<div class="pers_prop">Mail :&nbsp<a href="mailto:lilian.durey@batools.fr">manon.hatt@plenetude.fr</a></div>
													<div class="pers_prop">LD : xx xx xx xx xx</div>
													<div class="pers_prop">Port : xx xx xx xx xx</div>
												</div>

											</div>

											<div class="personne">
												<div class="p_top">
													<div class="p_left">
														<img src="../media/logo_plenetude.jpg" alt="Pas de photo" />
													</div>
													<div class="p_center">
														<div class="nom">SANVIGNE Rebecca</div>
													</div>
												</div>

												<div class="p_bot">
													<div class="bouton">+</div>
												</div>

												<div class="p_detail">
													<div class="pers_prop">Mail :&nbsp<a href="mailto:lilian.durey@batools.fr">rebecca.sanvigne@plenetude.fr</a></div>
													<div class="pers_prop">LD : xx xx xx xx xx</div>
													<div class="pers_prop">Port : xx xx xx xx xx</div>
												</div>

											</div>
										</div>
									</div>
								</div>

							</div>
						</div>

						



					</div>
				</div>



			</div>
   	</section>


	<footer>
	
	</footer>


</body>
</html>


