<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset="utf-8"/>
  
   <link rel="stylesheet" href="../css/chiffrage_style.css" />
   <script src="../css/jquery-3.3.1.js" ></script>
   <script src="../css/chiffrage_script.js" ></script>


   <title>Plateforme Appel d'offres</title>
</head>



<body>

	<header>
		
			<div class="navigation_principale">
				<a href="">Mes projets</a>
				<a href="liste_projets.html">Tous les projets</a>
				<a href="liste_contacts.html">Contacts</a>
			</div>

			<div class="navigation_secondaire">
				<a href="">Mon compte</a>
				<a href="">Aide/support</a>
				<a href="">Déconnexion</a>

			</div>
	</header>



  	<section>
			<div class="titre_projet">
				2015-2210 : TITRE DU PROJET
			</div>

			<div class="contenu">

				<div class="left_nav">
					<a href="projet.html">Lots</a>
					<a href="details_projet.html">Détails</a>
					<a href="chiffrage.html">Chiffrage</a>
					<a href="">Analyse</a>
				</div>


				<div class="projet">
					
					<div class="liste_lot">

						<div class="grid_lot">
							
							<div class="ligne" id="ligne_titre">
								<div class="titre" id="num">Numéro poste</div>
								<div class="titre" id="des">Désignation</div>
								<div class="titre" id="unite">Unité</div>
								<div class="titre" id="quantite">Quantité</div>
								<div class="titre" id="PU"">Prix Unitaire (€ HT)</div>
								<div class="titre" id="montant_HT">Montant HT (€ HT)</div>
								<div class="plus" id="plus_global">+</div>
							</div>

							<div class="ligne">
								<div class="poste_num" >
									<div class="num">1</div>
									<div class="dev">-</div>
								</div>
								<div class="poste_des" >VENTILATION</div>
								<div class="poste_unite" ></div>
								<div class="poste_quantite" ></div>
								<div class="poste_PU" ></div>
								<div class="poste_montant_HT" ></div>
								<div class="plus" >+</div>
							</div>

							<div class="ligne_descro">
								Bonjour, je suis le descriptif du poste ventilation, je ne sais aps quoi écrire comme ca et puis j'ai pas trop le temps de me prendre la tete pour un contenu cohérent. 
							</div>

							<div class="ligne">
								<div class="poste_num" >
									<div class="num">1.1</div>
									<div class="dev">-</div>
								</div>
								<div class="poste_des" >DONNES GENERALES</div>
								<div class="poste_unite" ></div>
								<div class="poste_quantite" ></div>
								<div class="poste_PU" ></div>
								<div class="poste_montant_HT" ></div>
								<div class="plus" >+</div>
							</div>

							<div class="ligne_descro">
								Bonjour, je suis le descriptif du poste ventilation, je ne sais aps quoi écrire comme ca et puis j'ai pas trop le temps de me prendre la tete pour un contenu cohérent. 
							</div>

							<div class="ligne">
								<div class="poste_num" >
									<div class="num">1.2</div>
									<div class="dev">-</div>
								</div>
								<div class="poste_des" >DESCRIPTION DES OUVRAGES</div>
								<div class="poste_unite" ></div>
								<div class="poste_quantite" ></div>
								<div class="poste_PU" ></div>
								<div class="poste_montant_HT" ></div>
								<div class="plus" >+</div>
							</div>

							<div class="ligne_descro">
								Bonjour, je suis le descriptif du poste ventilation, je ne sais aps quoi écrire comme ca et puis j'ai pas trop le temps de me prendre la tete pour un contenu cohérent. 
							</div>

							<div class="ligne">
								<div class="poste_num" >
									<div class="num">1.2.1</div>
									<div class="dev">-</div>
								</div>
								<div class="poste_des" >VMC HYGRO B</div>
								<div class="poste_unite" ></div>
								<div class="poste_quantite" ></div>
								<div class="poste_PU" ></div>
								<div class="poste_montant_HT" ></div>
								<div class="plus" >+</div>
							</div>

							<div class="ligne_descro">
								Bonjour, je suis le descriptif du poste ventilation, je ne sais aps quoi écrire comme ca et puis j'ai pas trop le temps de me prendre la tete pour un contenu cohérent. 
							</div>

							<div class="ligne">
								<div class="poste_num" >
									<div class="num">1.2.1.1</div>
									<div class="dev">-</div>
								</div>
								<div class="poste_des" >TRAVAUX DE DEPOSE</div>
								<div class="poste_unite" ></div>
								<div class="poste_quantite" ></div>
								<div class="poste_PU" ></div>
								<div class="poste_montant_HT" ></div>
								<div class="plus" >+</div>
							</div>

							<div class="ligne_descro">
								Bonjour, je suis le descriptif du poste ventilation, je ne sais aps quoi écrire comme ca et puis j'ai pas trop le temps de me prendre la tete pour un contenu cohérent. 
							</div>

							<div class="ligne">
								<div class="poste_num" >
									<div class="num">1.2.1.1.1</div>
									<div class="dev">-</div>
								</div>
								<div class="poste_des" >Visite sur site</div>
								<div class="poste_unite" ></div>
								<div class="poste_quantite" >PM</div>
								<div class="poste_PU" ></div>
								<div class="poste_montant_HT" ></div>
								<div class="plus" >+</div>
							</div>

							<div class="ligne_descro">
								Bonjour, je suis le descriptif du poste ventilation, je ne sais aps quoi écrire comme ca et puis j'ai pas trop le temps de me prendre la tete pour un contenu cohérent. 
							</div>

							<div class="ligne">
								<div class="poste_num" >
									<div class="num">1.2.1.1.2</div>
									<div class="dev">-</div>
								</div>
								<div class="poste_des" >Dépose installation existante</div>
								<div class="poste_unite" >ens</div>
								<div class="poste_quantite" >1,000</div>
								<div class="poste_PU" ><input type="number"/></div>
								<div class="poste_montant_HT" ></div>
								<div class="plus" >+</div>
							</div>

							<div class="ligne_descro">
								Bonjour, je suis le descriptif du poste ventilation, je ne sais aps quoi écrire comme ca et puis j'ai pas trop le temps de me prendre la tete pour un contenu cohérent. 
							</div>

							<div class="ligne_ST">
								<div class="titre_ST">Sous-Total HT de TRAVAUX DE DEPOSE</div>
								<div class="poste_montant_HT" ></div>
							</div>

							<div class="ligne">
								<div class="poste_num" >
									<div class="num">1.2.1.2</div>
									<div class="dev">-</div>
								</div>
								<div class="poste_des" >TRAVAUX PREPARATOIRES</div>
								<div class="poste_unite" ></div>
								<div class="poste_quantite" ></div>
								<div class="poste_PU" ></div>
								<div class="poste_montant_HT" ></div>
								<div class="plus" >+</div>
							</div>

							<div class="ligne_descro">
								Bonjour, je suis le descriptif du poste ventilation, je ne sais aps quoi écrire comme ca et puis j'ai pas trop le temps de me prendre la tete pour un contenu cohérent. 
							</div>

							<div class="ligne">
								<div class="poste_num" >
									<div class="num">1.2.1.2.1</div>
									<div class="dev">-</div>
								</div>
								<div class="poste_des" >Contrôle de la vacuité des conduits et de leur intégrité</div>
								<div class="poste_unite" >u</div>
								<div class="poste_quantite" >5</div>
								<div class="poste_PU" ><input type="number"/></div>
								<div class="poste_montant_HT" ></div>
								<div class="plus" >+</div>
							</div>

							<div class="ligne_descro">
								Bonjour, je suis le descriptif du poste ventilation, je ne sais aps quoi écrire comme ca et puis j'ai pas trop le temps de me prendre la tete pour un contenu cohérent. 
							</div>

							<div class="ligne">
								<div class="poste_num" >
									<div class="num">1.2.1.2.2</div>
									<div class="dev">-</div>
								</div>
								<div class="poste_des" >Ramonage des conduits</div>
								<div class="poste_unite" >u</div>
								<div class="poste_quantite" >5</div>
								<div class="poste_PU" ><input type="number"/></div>
								<div class="poste_montant_HT" ></div>
								<div class="plus" >+</div>
							</div>

							<div class="ligne_descro">
								Bonjour, je suis le descriptif du poste ventilation, je ne sais aps quoi écrire comme ca et puis j'ai pas trop le temps de me prendre la tete pour un contenu cohérent. 
							</div>

							<div class="ligne">
								<div class="poste_num" >
									<div class="num">1.2.1.2.3</div>
									<div class="dev">-</div>
								</div>
								<div class="poste_des" >essais d'étanchéité</div>
								<div class="poste_unite" >ens</div>
								<div class="poste_quantite" >1,000</div>
								<div class="poste_PU" ><input type="number"/></div>
								<div class="poste_montant_HT" ></div>
								<div class="plus" >+</div>
							</div>

							<div class="ligne_descro">
								Bonjour, je suis le descriptif du poste ventilation, je ne sais aps quoi écrire comme ca et puis j'ai pas trop le temps de me prendre la tete pour un contenu cohérent. 
							</div>
							
							<div class="ligne_ST">
								<div class="titre_ST">Sous-Total HT de TRAVAUX PREPARATOIRES</div>
								<div class="poste_montant_HT" ></div>
							</div>

	
						</div>

						



					</div>
				</div>



			</div>
   	</section>


	<footer>
	
	</footer>


</body>
</html>


