<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset="utf-8"/>
  
   <link rel="stylesheet" href="../css/details_tech_projet_style.css" />

   <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/dark-hive/jquery-ui.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

   <script src="../css/details_tech_projet_script.js" ></script>

  


   <title>Plateforme Appel d'offres</title>
</head>



<body>

	<header>
		
			<div class="navigation_principale">
				<a href="">Mes projets</a>
				<a href="liste_projets.html">Tous les projets</a>
				<a href="liste_contacts.html">Contacts</a>
			</div>

			<div class="navigation_secondaire">
				<a href="">Mon compte</a>
				<a href="">Aide/support</a>
				<a href="">Déconnexion</a>

			</div>
	</header>



  	<section>
			<div class="titre_projet">
				2015-2210 : TITRE DU PROJET
			</div>

			<div class="contenu">

				<div class="left_nav">
					<a href="projet.html">Lots</a>
					<a href="details_projet.html">Détails généraux</a>
					<a href="details_tech_projet.html">Détails techniques</a>
					<a href="chiffrage.html">Chiffrage (entreprise)</a>
					<a href="">Analyse</a>
				</div>


				<div class="projet">


					<div class="boutons">
						<input type="button" id="add_tranche" value="Ajouter Tranche"/>
						<input type="button" id="del_tranche" value="Supprimer Tranche"/>
						


						<div class="wrapp_all_to_lock" id="all_dialog_add">
							<div id="dialog_add">
								<div id="dialog_add_title">
									Comment se nomme la nouvelle tranche ?
								</div>
								<div id="dialog_add_content">
									<input type="text" id="in_add_tranche" placeholder="SAISIR NOM TRANCHE"/>
								</div>
								<div id="dialog_add_buttons">
									<input type="button" id="Bcreer" value="Créer"/>
									<input type="button" class="Bannuler" value="Annuler"/>
								</div>
								
							</div>
						</div>


						<div class="wrapp_all_to_lock" id="all_dialog_supp">
							<div id="dialog_supp">
								<div id="dialog_supp_title">
									Comment se nomme la nouvelle tranche ?
								</div>
								<div id="dialog_supp_content">
									<select id="in_del_tranche">
								
									</select>
								</div>
								<div id="dialog_supp_buttons">
									<input type="button" id="Bsupprimer" value="Supprimer"/>
									<input type="button" class="Bannuler" value="Annuler"/>
								</div>
								
							</div>
						</div>

					</div>
					


					<div class="ratio_container">
						<div class="titre_lot">
							<div class="titre">PROJET COMPLET</div>
							<div class="plus">+</div>
						</div>

						<div class="liste_tranches" >
							<div class="nom_ratio"></div>
							<div class="valeurs">
								<div class="tranche" title="TOUTES TRANCHES"><input type="text" value="TOUTES TRANCHES"/></div>
							</div>
						</div>


						<div class="ligne_ratio">
							<div class="nom_ratio">Compléxité d'architecture</div>
							<div class="valeurs">
								<div class="tranche">
									<select>
										<option value="">Selectionner</option>
										<option value="">Simple</option>
										<option value="">Moyenne</option>
										<option value="">Complexe</option>
									</select>
								</div>
							</div>
						</div>

						<div class="ligne_ratio">
							<div class="nom_ratio">Nombre de lots</div>
							<div class="valeurs">
								<div class="tranche">
									<input type="number"/>
								</div>
							</div>
						</div>

						<div class="ligne_ratio">
							<div class="nom_ratio">Nombre d'étages</div>
							<div class="valeurs">
								<div class="tranche">
									<input type="number"/>
								</div>
							</div>
						</div>

						<div class="ligne_ratio">
							<div class="nom_ratio">Emprise au sol (m²)</div>
							<div class="valeurs">
								<div class="tranche">
									<input type="number"/>
								</div>
							</div>
						</div>

						<div class="ligne_ratio">
							<div class="nom_ratio">SHON (m²)</div>
							<div class="valeurs">
								<div class="tranche">
									<input type="number"/>
								</div>
							</div>
						</div>
					</div>




					<div class="ratio_container">
						<div class="titre_lot">
							<div class="titre">FACADES</div>
							<div class="plus">+</div>
						</div>

						<div class="liste_tranches" >
							<div class="nom_ratio"></div>
							<div class="valeurs">
								<div class="tranche" title="TOUTES TRANCHES"><input type="text" value="TOUTES TRANCHES"/></div>
							</div>
						</div>

						<div class="ligne_ratio">
							<div class="nom_ratio">Nombre d'étages</div>
							<div class="valeurs">
								<div class="tranche">
									<input type="number"/>
								</div>

							</div>
						</div>

						<div class="ligne_ratio">
							<div class="nom_ratio">Surface d'échafaudage (m²)</div>
							<div class="valeurs">
								<div class="tranche">
									<input type="number"/>
								</div>

							</div>
						</div>
					</div>





					<div class="ratio_container">
						<div class="titre_lot">
							<div class="titre">ELECTRICITE</div>
							<div class="plus">+</div>
						</div>

						<div class="liste_tranches" >
							<div class="nom_ratio"></div>
							<div class="valeurs">
								<div class="tranche" title="TOUTES TRANCHES"><input type="text" value="TOUTES TRANCHES"/></div>
							</div>
						</div>

						<div class="ligne_ratio">
							<div class="nom_ratio">Nombre d'étages</div>
							<div class="valeurs">
								<div class="tranche">
									<input type="number"/>
								</div>
							</div>
						</div>

						<div class="ligne_ratio">
							<div class="nom_ratio">Nombre de lots</div>
							<div class="valeurs">
								<div class="tranche">
									<input type="number"/>
								</div>
							</div>
						</div>
					</div>





					<div class="ratio_container">
						<div class="titre_lot">
							<div class="titre">TOITURE</div>
							<div class="plus">+</div>
						</div>

						<div class="liste_tranches" >
							<div class="nom_ratio"></div>
							<div class="valeurs">
								<div class="tranche" title="TOUTES TRANCHES"><input type="text" value="TOUTES TRANCHES"/></div>
							</div>
						</div>

						<div class="ligne_ratio">
							<div class="nom_ratio">Surface de toiture (m²)</div>
							<div class="valeurs">
								<div class="tranche">
									<input type="number"/>
								</div>
							</div>
						</div>
					</div>

				</div>



			</div>
   	</section>


	<footer>
	
	</footer>


</body>
</html>


