<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset="utf-8"/>
  
   <link rel="stylesheet" href="../css/details_tech_projet_style.css" />
   <script src="../css/jquery-3.3.1.js" ></script>
   <script src="../css/details_tech_projet_script.js" ></script>

  


   <title>Plateforme Appel d'offres</title>
</head>



<body>

	<header>
		
			<div class="navigation_principale">
				<a href="">Mes projets</a>
				<a href="liste_projets.html">Tous les projets</a>
				<a href="liste_contacts.html">Contacts</a>
			</div>

			<div class="navigation_secondaire">
				<a href="">Mon compte</a>
				<a href="">Aide/support</a>
				<a href="">Déconnexion</a>

			</div>
	</header>



  	<section>
			<div class="titre_projet">
				2015-2210 : TITRE DU PROJET
			</div>

			<div class="contenu">

				<div class="left_nav">
					<a href="projet.html">Lots</a>
					<a href="details_projet.html">Détails généraux</a>
					<a href="details_tech_projet.html">Détails techniques</a>
					<a href="chiffrage.html">Chiffrage (entreprise)</a>
					<a href="">Analyse</a>
				</div>


				<div class="projet">


					
					<div class="projet_container_3">
						<div class="set_data_projet" id="Numtranche">
							<div class="titre_liste">Toutes tranches</div>
								<div class="sous_liste">Complexité d'architecture : Moyenne</div>
								<div class="sous_liste">Nombre de lot : 48 lots</div>
								<div class="sous_liste">Nombre d'étage (max): 4 étages</div>
								<div class="sous_liste">Emprise au sol : 400 m²</div>
								<div class="sous_liste">SHON : 1500 m²</div>
						</div>
						
					</div>


				</div>



			</div>
   	</section>


	<footer>
	
	</footer>


</body>
</html>


