<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset="utf-8"/>
  
   <link rel="stylesheet" href="../css/details_projet_style.css" />
   <script src="../css/jquery-3.3.1.js" ></script>
   <script src="../css/details_projet_script.js" ></script>

  


   <title>Plateforme Appel d'offres</title>
</head>



<body>

	<header>
		
			<div class="navigation_principale">
				<a href="">Mes projets</a>
				<a href="liste_projets.html">Tous les projets</a>
				<a href="liste_contacts.html">Contacts</a>
			</div>

			<div class="navigation_secondaire">
				<a href="">Mon compte</a>
				<a href="">Aide/support</a>
				<a href="">Déconnexion</a>

			</div>
	</header>



  	<section>
			<div class="titre_projet">
				2015-2210 : TITRE DU PROJET
			</div>

			<div class="contenu">

				<div class="left_nav">
					<a href="projet.html">Lots</a>
					<a href="details_projet.html">Détails</a>
					<a href="chiffrage.html">Chiffrage</a>
					<a href="">Analyse</a>
				</div>


				<div class="projet">

					<div class="projet_container_1">
						
						<div class="logo">
							<img src="../media/bat 4.jpg" alt="Pas de photo" style="height: 300px" id="logo_projet"/>
						</div>

						

						<div class="infos">
							<div class="set_id_projet">
								<div class="titre_liste">Agence interne(s)</div>
									<div class="sous_liste">Plenetude Lyon (couleur mandataire principal)</div>
									<div class="sous_liste">Pegime Lyon</div>
									<div class="sous_liste">Pexin</div>
								<div class="titre_liste">Intervenant(s)</div>
									<div class="sous_liste">Prénom NOM (couleur créateur)</div>
									<div class="sous_liste">Prénom NOM (couleur autre - par entité?)</div>
									<div class="sous_liste">Prénom NOM (couleur autre - par entité?)</div>
								<div class="titre_liste">Client(s)</div>
									<div class="sous_liste">Type de travaux : Rénovation/Sinistre/Neuf</div>
									<div class="sous_liste">Type de client : Collectif/individuel/tertiaire</div>
									<div class="sous_liste">Client X N°1</div>
									<div class="sous_liste">Client X N°2</div>
								<div class="titre_liste">Localisation</div>
									<div class="sous_liste">Bâtiment A</div>
									<div class="sous_liste">63 avenue Roger Salengro</div>
									<div class="sous_liste">69100 - VILLEURBANNE</div>
									<div class="sous_liste">FRANCE</div>
									<div class="sous_liste"><a id="open_map1">Ouvrir map</a>&nbsp/&nbsp<a id="close_map">Fermer map</a></div>
									<div class="sous_liste"><a href="https://www.google.fr/maps/place/63+roger+salengro,+69100+villeurbanne" target="_blank">Ouvrir map sur nouvel onglet</a></div>
							</div>

							<div id="map1"></div>
							
						</div>

						

						
						

					</div>

				


					
					
					
					<div class="projet_container_3">
						<div class="set_data_projet" id="Numtranche">
							<div class="titre_liste">Toutes tranches</div>
								<div class="sous_liste">Complexité d'architecture : Moyenne</div>
								<div class="sous_liste">Nombre de lot : 48 lots</div>
								<div class="sous_liste">Nombre d'étage (max): 4 étages</div>
								<div class="sous_liste">Emprise au sol : 400 m²</div>
								<div class="sous_liste">SHON : 1500 m²</div>
						</div>
						<div class="set_data_projet" id="Numtranche">
							<div class="titre_liste">Tranche 1</div>
								<div class="sous_liste">Complexité d'architecture : Moyenne</div>
								<div class="sous_liste">Nombre de lot : 24 lots</div>
								<div class="sous_liste">Nombre d'étage : 4 étages</div>
								<div class="sous_liste">Emprise au sol : 200 m²</div>
								<div class="sous_liste">SHON : 750 m²</div>
						</div>
						<div class="set_data_projet" id="Numtranche">
							<div class="titre_liste">Tranche 2</div>
								<div class="sous_liste">Complexité d'architecture : Moyenne</div>
								<div class="sous_liste">Nombre de lot : 24 lots</div>
								<div class="sous_liste">Nombre d'étage : 4 étages</div>
								<div class="sous_liste">Emprise au sol : 200 m²</div>
								<div class="sous_liste">SHON : 750 m²</div>
						</div>
						<div class="set_data_projet" id="Numtranche">
							<div class="titre_liste">Tranche 3</div>
								<div class="sous_liste">Complexité d'architecture : Moyenne</div>
								<div class="sous_liste">Nombre de lot : 24 lots</div>
								<div class="sous_liste">Nombre d'étage : 4 étages</div>
								<div class="sous_liste">Emprise au sol : 200 m²</div>
								<div class="sous_liste">SHON : 750 m²</div>
						</div>
						<div class="set_data_projet" id="Numtranche">
							<div class="titre_liste">Tranche 4</div>
								<div class="sous_liste">Complexité d'architecture : Moyenne</div>
								<div class="sous_liste">Nombre de lot : 24 lots</div>
								<div class="sous_liste">Nombre d'étage : 4 étages</div>
								<div class="sous_liste">Emprise au sol : 200 m²</div>
								<div class="sous_liste">SHON : 750 m²</div>
						</div>
					</div>


				</div>



			</div>
   	</section>


	<footer>
	
	</footer>


</body>
</html>


