<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset="utf-8"/>
  
   <link rel="stylesheet" href="../css/liste_projets_style.css" />
   <script src="../css/jquery-3.3.1.js" ></script>
   <script src="../css/liste_projet_script.js" ></script>


   <title>Plateforme Appel d'offres</title>
</head>



<body>

	<header>
		
			<div class="navigation_principale">
				<a href="">Mes projets</a>
				<a href="liste_projets.html">Tous les projets</a>
				<a href="liste_contacts.html">Contacts</a>
			</div>

			<div class="navigation_secondaire">
				<a href="">Mon compte</a>
				<a href="">Aide/support</a>
				<a href="">Déconnexion</a>

			</div>
	</header>



  	<section>
			<div class="recherche">
				<select >
					<option>Trier</option>
				</select>

				<select >
					<option>Filtrer</option>
				</select>

				<input type="text"/>

				<input type="submit" value="Ok"/>
			</div>

			<div class="liste_container">
				<div class="liste">

					<div class="projet">
						<div class="p_top">
							<div class="numero">2019-126</div>
							<div class="nom"><a href="projet.html">Projet de la rue sans nom mais qui est très long sur plusieurs lignes</a></div>
						</div>

						<div class="p_center">
							<img src="../media/bat 4.jpg" alt="Pas de photo" />
							<div class="estimation"><span>500 000,00 € HT</span><span>XX %</span></div>
						</div>

						<div class="p_bot">
							<span class="localisation">74 100 VILLEURBANNE</span><span class="createur">Prénom NOM</span>
						</div>
					</div>

					<div class="projet">
						<div class="p_top">
							<div class="numero">2019-126</div>
							<div class="nom">Projet de la rue sans nom mais qui est très long sur plusieurs lignes</div>
						</div>

						<div class="p_center">
							<img src="../media/bat 5.jpg" alt="Pas de photo" />
							<div class="estimation"><span>500 000,00 € HT</span><span>XX %</span></div>
						</div>

						<div class="p_bot">
							<span class="localisation">74 100 VILLEURBANNE</span><span class="createur">Prénom NOM</span>
						</div>
					</div>
					
					<div class="projet">
						<div class="p_top">
							<div class="numero">2019-126</div>
							<div class="nom">Projet de la rue sans nom mais qui est très long sur plusieurs lignes</div>
						</div>

						<div class="p_center">
							<img src="../media/bat 4.jpg" alt="Pas de photo" />
							<div class="estimation"><span>500 000,00 € HT</span><span>XX %</span></div>
						</div>

						<div class="p_bot">
							<span class="localisation">74 100 VILLEURBANNE</span><span class="createur">Prénom NOM</span>
						</div>
					</div>

					<div class="projet">
						<div class="p_top">
							<div class="numero">2019-126</div>
							<div class="nom">Projet de la rue sans nom mais qui est très long sur plusieurs lignes</div>
						</div>

						<div class="p_center">
							<img src="../media/bat 4.jpg" alt="Pas de photo" />
							<div class="estimation"><span>500 000,00 € HT</span><span>XX %</span></div>
						</div>

						<div class="p_bot">
							<span class="localisation">74 100 VILLEURBANNE</span><span class="createur">Prénom NOM</span>
						</div>
					</div>

				</div>


			</div>
   	</section>


	<footer>
	
	</footer>


</body>
</html>


