<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset="utf-8"/>
  
   <link rel="stylesheet" href="../css/personne_style.css" />
   <script src="../css/jquery-3.3.1.js" ></script>
   <script src="../css/personne_script.js" ></script>


   <title>Plateforme Appel d'offres</title>
</head>



<body>

	<header>
		
			<div class="navigation_principale">
				<a href="">Mes projets</a>
				<a href="liste_projets.html">Tous les projets</a>
				<a href="liste_contacts.html">Contacts</a>
			</div>

			<div class="navigation_secondaire">
				<a href="">Mon compte</a>
				<a href="">Aide/support</a>
				<a href="">Déconnexion</a>

			</div>
	</header>



  	<section>
			<div class="titre_personne">
				DUPUIS Audrey
			</div>

			<div class="contenu">

				
				<div class="personne">
					
					<div class="liste_pers">

						<div class="pers_wrapper" id="wrapper_infos">
							<div class="synt_pers">
								<div class=titre_pers>
									Informations générales
								</div>

								<div class="boutons">
									<div class="modifier">¥</div>
									<div class="plus">-</div>
								</div>
							</div>

							<div class="detail_pers" id="detail_infos">
								<div class="row_wrap">
									<div class="p_left"><img src="../media/logo_plenetude.jpg"/></div>
									<div class="p_center">
										<div class="prop_pers">
											<span>DUPUIS Audrey<br/>
											Responsable de pôle étude<br/>
											Niveau Hiérarchique : 3/4</span>
											<span>Mail :&nbsp<a href="mailto:lilian.durey@batools.fr">audrey.dupuis@plenetude.fr</a></span>
											<span>LD : xx xx xx xx xx<br/>
											Port : xx xx xx xx xx</span>
										</div>

									</div>
									<div class="p_right">
										<div class="prop_pers">
											<strong><a href="agence.html">PLENETUDE ANNECY</a></strong>
											<span>Mail :&nbsp<a href="mailto:info.lyon@plenetude.fr">info.annecy@plenetude.fr</a></span>
											<span>Standard : 04 37 43 36 36<br/>
											Fax : 04 37 43 36 37</span>
											<span>Immeubles Les Pléïades<br/>
											Park Nord, Route de la Bouvarde<br/>
											74 370 METZ-TESSY</span>
										</div>
									</div>
								</div>
								
							</div>
						</div>




					</div>
				</div>



			</div>
   	</section>


	<footer>
	
	</footer>


</body>
</html>


