<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset="utf-8"/>
  
   <link rel="stylesheet" href="../css/projet_style.css" />
   <script src="../css/jquery-3.3.1.js" ></script>
   <script src="../css/projet_script.js" ></script>


   <title>Plateforme Appel d'offres</title>
</head>



<body>

	<header>
		
			<div class="navigation_principale">
				<a href="">Mes projets</a>
				<a href="liste_projets.html">Tous les projets</a>
				<a href="liste_contacts.html">Contacts</a>
			</div>

			<div class="navigation_secondaire">
				<a href="">Mon compte</a>
				<a href="">Aide/support</a>
				<a href="">Déconnexion</a>

			</div>
	</header>



  	<section>
			<div class="titre_projet">
				2015-2210 : TITRE DU PROJET
			</div>

			<div class="contenu">

				<div class="left_nav">
					<a href="projet.html">Lots</a>
					<a href="details_projet.html">Détails généraux</a>
					<a href="details_tech_projet.html">Détails techniques</a>
					<a href="chiffrage.html">Chiffrage (entreprise)</a>
					<a href="">Analyse</a>
				</div>


				<div class="projet">
					
					<div class="liste_lot">

						<div class="lot">
							<div class="synt_lot">
								<div class=titre_lot>
									<div class="id_lot">
										<div class="num_lot">1</div>
										<div class="nom_lot">LOT XXX</div>

									</div>
									<div class="date_retour">21/02/2019</div>
								</div>
								<div class="AO_lot">
									<div class="estim_lot">10 000 € HT</div>
									<div class="avancement_lot">XX %</div>
								</div>
								<div class="boutons">
									<div class="modifier">¥</div>
									<div class="voir">Ø</div>
									<div class="plus">+</div>
								</div>
							</div>

							<div class="detail_lot">
								<div class="ent_consult">
									<div class="nom_ent">Agence X</div>
									<div class="statut_ent">
										<div class="offre_ent">15 000 € HT</div>
										<div class="avancement_ent">XX %</div>
									</div>
									<div class="voir">Ø</div>
								</div>

								<div class="ent_consult">
									<div class="nom_ent">Agence X</div>
									<div class="statut_ent">
										<div class="offre_ent">15 000 € HT</div>
										<div class="avancement_ent">XX %</div>
									</div>
									<div class="voir">Ø</div>
								</div>

								<div class="ent_consult">
									<div class="nom_ent">Agence X</div>
									<div class="statut_ent">
										<div class="offre_ent">15 000 € HT</div>
										<div class="avancement_ent">XX %</div>
									</div>
									<div class="voir">Ø</div>
								</div>

								<div class="modifier_ents">
									Modifier
								</div>

							</div>
						</div>

						<div class="lot">
							<div class="synt_lot">
								<div class=titre_lot>
									<div class="id_lot">
										<div class="num_lot">2</div>
										<div class="nom_lot">LOT XXX</div>

									</div>
									<div class="date_retour">21/02/2019</div>
								</div>
								<div class="AO_lot">
									<div class="estim_lot">10 000 € HT</div>
									<div class="avancement_lot">XX %</div>
								</div>
								<div class="boutons">
									<div class="modifier">¥</div>
									<div class="voir">Ø</div>
									<div class="plus">+</div>
								</div>
							</div>

							<div class="detail_lot">
								<div class="ent_consult">
									<div class="nom_ent">Agence X</div>
									<div class="statut_ent">
										<div class="offre_ent">15 000 € HT</div>
										<div class="avancement_ent">XX %</div>
									</div>
									<div class="voir">Ø</div>
								</div>

								<div class="ent_consult">
									<div class="nom_ent">Agence X</div>
									<div class="statut_ent">
										<div class="offre_ent">15 000 € HT</div>
										<div class="avancement_ent">XX %</div>
									</div>
									<div class="voir">Ø</div>
								</div>

								<div class="ent_consult">
									<div class="nom_ent">Agence X</div>
									<div class="statut_ent">
										<div class="offre_ent">15 000 € HT</div>
										<div class="avancement_ent">XX %</div>
									</div>
									<div class="voir">Ø</div>
								</div>

								<div class="modifier_ents">
									Modifier
								</div>

							</div>
						</div>

						<div class="lot">
							<div class="synt_lot">
								<div class=titre_lot>
									<div class="id_lot">
										<div class="num_lot">3</div>
										<div class="nom_lot">LOT XXX</div>

									</div>
									<div class="date_retour">21/02/2019</div>
								</div>
								<div class="AO_lot">
									<div class="estim_lot">10 000 € HT</div>
									<div class="avancement_lot">XX %</div>
								</div>
								<div class="boutons">
									<div class="modifier">¥</div>
									<div class="voir">Ø</div>
									<div class="plus">+</div>
								</div>
							</div>

							<div class="detail_lot">
								<div class="ent_consult">
									<div class="nom_ent">Agence X</div>
									<div class="statut_ent">
										<div class="offre_ent">15 000 € HT</div>
										<div class="avancement_ent">XX %</div>
									</div>
									<div class="voir">Ø</div>
								</div>

								<div class="ent_consult">
									<div class="nom_ent">Agence X</div>
									<div class="statut_ent">
										<div class="offre_ent">15 000 € HT</div>
										<div class="avancement_ent">XX %</div>
									</div>
									<div class="voir">Ø</div>
								</div>

								<div class="ent_consult">
									<div class="nom_ent">Agence X</div>
									<div class="statut_ent">
										<div class="offre_ent">15 000 € HT</div>
										<div class="avancement_ent">XX %</div>
									</div>
									<div class="voir">Ø</div>
								</div>

								<div class="ent_consult">
									<div class="nom_ent">Agence X</div>
									<div class="statut_ent">
										<div class="offre_ent">15 000 € HT</div>
										<div class="avancement_ent">XX %</div>
									</div>
									<div class="voir">Ø</div>
								</div>

								<div class="ent_consult">
									<div class="nom_ent">Agence X</div>
									<div class="statut_ent">
										<div class="offre_ent">15 000 € HT</div>
										<div class="avancement_ent">XX %</div>
									</div>
									<div class="voir">Ø</div>
								</div>

								<div class="ent_consult">
									<div class="nom_ent">Agence X</div>
									<div class="statut_ent">
										<div class="offre_ent">15 000 € HT</div>
										<div class="avancement_ent">XX %</div>
									</div>
									<div class="voir">Ø</div>
								</div>

								<div class="modifier_ents">
									Modifier
								</div>

							</div>
						</div>



					</div>
				</div>



			</div>
   	</section>


	<footer>
	
	</footer>


</body>
</html>


